{% extends 'layout.html' %}

{% set title = 'Reporte Semanal' %}
{% set css = 'data-table.css' %}

{% block content %}

    {% include './components/header.html' %}

    <div class="data-container">
        <h3 class="data-title">Reporte Semanal</h3>
        <table>
            <thead>
                <tr>
                    <th>Diario</th>
                    {% for day in column_days %}
                        <th>{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for newspaper, days in reports.items() %}
                    <tr>
                        <td>{{ newspaper }}</td>
                        {% for day in column_days %}
                            <td>{{ days[day] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 

{% endblock %}